body {
    background-color: black;
}

.main {
    background-color: white;
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
    position: relative;
    z-index: 1;
}

.ryu {
    width: 659px;
    height: 494px;
}

.ryu-ready,
.ryu-still,
.ryu-throwing,
.ryu-cool {
    width: 659px;
    height: 494px;
}

.ryu-ready,
.ryu-throwing,
.ryu-cool {
    display: none;
}

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}

.hadouken,
.ryu-ready,
.ryu-still,
.ryu-throwing,
.ryu-cool {
    background-repeat: no-repeat;
}

.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    display: none;
    position: absolute;
    z-index: 10;
    top: 167px;
    left: 520px;
    float: left;
}

.logo {
    background-image: url('http://benjaminewhite.github.io/jquery-streetfighter-example/images/sf-logo.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 600px;
    top: 50px;
}

.instruction {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 700px;
    top: 400px;
    font-size: 30px;
}

p {
    margin-top: -40px;
    font-family: 'Baloo Tamma', cursive;
}
